T3N_API_KEY=
AGENT_KEY=
USER_KEY=
DUFFEL_API_KEY=
CONTRACT_TAIL=travel-contracts
CONTRACT_VERSION=0.1.0
WASM_PATH=../z-tenant-flight/target/wasm32-wasip2/release/z_tenant_flight.wasm
T3N_PROFILE_FIRST_NAME=Jane
T3N_PROFILE_LAST_NAME=Test
T3N_PROFILE_DATE_OF_BIRTH=1990-01-01
T3N_PROFILE_GENDER=f
